# Ignore Backend .env file
.env
.venv

# Ignore SQLite database
db.sqlite3

# Logs
logs/
*.log

# Python cache
__pycache__/
*.py[cod]

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# MacOS files
.DS_Store
